.buttonInscrire {
  background-color: #292261;
  color: #fff;
  border-radius: 10px;
  border: rgb(164, 138, 138) 1px solid;
  height: 40px;
  width: 20vw;
  min-width: 150px;
  max-width: 350px;
  margin: auto;
}

.formSignUp {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 200px;
  width: 40vw;
  gap: 20px;
}

.signupPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  width: auto;
  background-color: #2a1d3c;
}
