.characterPage {
  padding: 10px;
  padding-top: 20px;
  background-color: #2a1d3c;
}

.search {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.characterCard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.avatarAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: auto;
}

.avatarAndName img {
  height: 190px;
  width: 190px;
  border-radius: 30%;
  margin-bottom: 50px;
}

.characterName {
  font-size: 22px;
  color: rgb(255, 255, 255);
  width: 240px;
  text-align: center;
}

.characterDescriptionAll {
  color: rgb(184, 184, 184);
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}
