.comicsPage {
  padding: 10px;
  padding-top: 20px;
  width: 100wh;
  background-color: #2a1d3c;
}

.search {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.comicCard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.avatarAndNameComic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: auto;
}

.avatarAndNameComic img {
  height: 390px;
  width: 390px;
  border-radius: 10%;
  margin-top: 20px;
}

.comicName {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 10px;
}

.comicDescription {
  color: rgb(184, 184, 184);
  width: 400px;
}
