.comicDetailPage {
  padding: 10px;
  padding-top: 20px;
  /* width: 100vw; */
  height: 100vh;
  background-color: #2a1d3c;
}

.comicDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: auto;
}

.comicTitle {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 10px;
}

.comicDescriptionDetail {
  color: rgb(184, 184, 184);
  max-width: 60vw;
  text-align: center;
}

.thumbailComic {
  max-height: 70vh;
}
