.characterTitle {
  color: #9993c7;
  font-size: 22px;
}

.characterDetailComicsPage {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  width: auto;
  background-color: #2a1d3c;
}

.dataComics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.thumbnailAndNameComic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 350px;
}

.thumbnailAndNameComic img {
  height: 400px;
  width: 300px;
  border-radius: 10%;
  margin-top: 20px;
  object-fit: contain;
}

.comicName {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.comicDescription {
  color: rgb(184, 184, 184);
  width: 350px;
  text-align: center;
}

.moreCharacter {
  color: #9993c7;
  font-style: italic;

  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
